.App {
  text-align: center;
  background-color: black; 
  /* lol why doesnt that work */
}


.acc {
  margin: 1%;

  float: left;
  width: 48%;
  /* overflow: auto; */
  /* height: 550px; */
}

.trans {
  margin: 1%;
  float: left;
  width: 48%;
  /* overflow: auto; */
  /* height: 550px; */
}


.pan {
  margin: 1%;
}





